<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <canvas id="myChart"></canvas>
    </div>
    <script>
      let x = "<%= dataSeries %>";
      let array = x.split(",");
      let dataList = [];
      let dataElement = [];
      for (let i = 0; i < array.length; i++) {
        if (i % 2 == 0) {
          console.log(array[i]);
          dataElement[0] = array[i];
        } else {
          console.log(array[i]);
          dataElement[1] = parseInt(array[i]);
          dataList.push(dataElement);
          dataElement = [];
        }
      }
      console.log(dataList);
      let myChart = document.getElementById("myChart").getContext("2d");
      let massPopChartChart = new Chart(myChart, {
        type: "bar",
        data: dataList,
        options: {},
      });
    </script>
  </body>
</html>
