<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 2 Homepage</title>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div id="user-index-header-section">
      <p>Control-Xpense</p>
      <h3>The Expense Controller</h3>
    </div>
    <div id="user-index-nav-section">
      <nav id="user-index-nav-bar">
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Log In</a>
        <a href="/auth/logout">Log Out</a>
      </nav>
      <!-- user-index-nav-section -->
    </div>
    <div id="user-index-body">
      <h1>Take Control Of Your Expenses</h1>
      <h3>CREATE - MEASURE - IMPROVE - CONTROL</h3>
    </div>
    <footer>
      <p>Designed and developed by Cesar Trevino @2020</p>
    </footer>
  </body>
</html>
